psycopg2-binary==2.8.5
Django==3.2.4
django-modeltranslation
django-rest-swagger
djangorestframework==3.12.4
django-parler
drf-yasg
djangorestframework-simplejwt
Pillow==8.0
django-3-jet
google-api-python-client==1.4.1
python-decouple
djoser
pytils
social-auth-app-django
django-rest-framework-social-oauth2
django-filter